svg {
  height: 400px;
}

#test {
  position: absolute;
}

#dot-good,
#dot-bad,
#dot-end {
  opacity: 0;
  animation: dotFadeIn 1s ease forwards;
  animation-delay: 5s;
  cursor: pointer;
  z-index: 300;
}
#bad,
#good {
  opacity: 0;
}

#dot-good:hover ~ #good {
  opacity: 1;
  transition: opacity 0.2s ease-in;
}

#dot-good:not(:hover) ~ #good {
  opacity: 0;
  transition: opacity 0.2s ease-in;
}

#dot-bad:hover ~ #bad {
  opacity: 1;
  transition: opacity 0.2s ease-in;
}

#dot-bad:not(:hover) ~ #bad {
  opacity: 0;
  transition: opacity 0.2s ease-in;
}

#line {
  stroke-dasharray: 3000;
  stroke-dashoffset: 3000;
  animation: dash 5s linear forwards;
}

/* #guy:hover {
  animation: spin 1s linear infinite;
  transform-origin: center;
  transform-box: fill-box;
} */

.fallGuy {
  animation: spin 1s linear infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes spin {
  100% {
    transform: rotate(1turn);
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dotFadeIn {
  to {
    opacity: 1;
  }
}

@keyframes infoFadeIn {
  to {
    opacity: 1;
  }
}
